body{
    margin: 0;
    padding: 0;
}
#content{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.textColorBlack{
    color: black !important;
}

#mainContent{
    position: absolute;
    top: 10vh;/* 
    padding-top: 100px; */
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
}

.pokemon{
    position: relative;
    margin: 10px;
    padding: 5px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    z-index: 1;
    background-color: beige;
    cursor: pointer;
}

.pokeID{
    position: absolute;
    top: 5px;
    right: 10px;
}

.pokemon img{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 150px;
}

.pokemonCardBG{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: azure;
    z-index: 3;
}

.pokemonCard{
    position: absolute;
    padding: 10px;
    height: 90vh;
    width: 60%;
    border-radius: 20px;
    z-index: 4;
    background-color: beige;
}

.pokemonCard img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: 500px;
}

.tabs{
    position: absolute;
    margin: 20px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    height: 50vh;
    border-radius: 20px;
    background-color: azure;
}