body{
    margin: 0;
    padding: 0;
}

.hide{
    display: none !important;
}

#xBtn{
    position: absolute;
    right: 10px;
    z-index: 100;
}

#content{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.textColorBlack{
    color: black !important;
}

#mainContent{
    position: absolute;
    top: 10vh;/* 
    padding-top: 100px; */
    height: 90vh;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
}

#cardContent{
    position: absolute;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pokemon{
    position: relative;
    margin: 10px;
    padding: 5px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    z-index: 1;
    background-color: beige;
    cursor: pointer;
}

.pokeID{
    position: absolute;
    top: 5px;
    right: 10px;
}

.pokemon img{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 150px;
}

.pokemonCardBG{
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: azure;
    z-index: 3;
}

.pokemonCard{
    position: absolute;
    padding: 10px;
    height: 90vh;
    width: 60%;
    border-radius: 20px;
    z-index: 4;
    background-color: beige;
}

.pokemonCard img{
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 5;
    height: 450px;
}

.tabs{
    position: absolute;
    margin: 20px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    height: 45vh;
    border-radius: 20px;
    background-color: rgba(240, 255, 255, 0.962);
    display: flex;
    flex-direction: column;
    z-index: 6;
}

.disflex{
    display: flex;
    justify-content: flex-start;
}

.category{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.values{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.category span{
    margin: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.values span{
    margin: 10px;
}

.visual{
    width: 400px;
    display: flex;
    flex-direction: column;
}
.progress{
    margin: 14px;
}

@media(max-width: 900px){
    .pokemonCard img{
        position: absolute;
        top: -50px;
        right: -50px;
        z-index: 5;
        height: 400px;
    }
}

@media(max-width: 720px){
    .category{
        margin-left: 10px;
        font-size: 13px;
    }

    .values{
        margin-left: 10px;
        font-size: 13px;
    }

    .progress{
        margin: 12px;
    }

    .pokemonCard img{
        position: absolute;
        top: 50px;
        right: -30px;
        z-index: 5;
        height: 300px;
    }
}

@media(max-width: 500px){
    .pokemonCard img{
        position: absolute;
        top: 100px;
        right: -30px;
        z-index: 5;
        height: 200px;
    }
}